@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
    <ul>
        <li>@Html.ActionLink("IHome", "Index", "Home")</li>
        <li>@Html.ActionLink("IAvailabilityService", "Index", "AvailabilityService")</li>
    </ul>
    </div>
</body>
</html>
